.file-widget-block {
    background-color: #fff;
    border: 1px solid #dcdcdc;
}
.list-files {
    margin-top: 25px!important;
    padding: 10px!important;
}
.input-new-file{
    float: left;
    padding: .5rem 0;
}
.list-files li {
    float: left;
    width: 150px!important;
    height: 150px!important;
    text-align: center;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}
.list-files li img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    object-position: center;
}
.list-files .file-buttons,
.list-files-popup .file-buttons {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    background-color: #fff;
    padding: 5px 0;
}
.list-files li:hover .file-buttons,
.list-files-popup .file-item:hover .file-buttons {
    display: block;
}
.list-files .delete-file {
    color: blue;
    cursor: pointer;
}
.list-files .fileClipboard {
    cursor: pointer;
    color: #337ab7!important;
}
.list-files .file-buttons > a,
.list-files .file-buttons > span,
.list-files-popup .file-buttons > a,
.list-files-popup .file-buttons > span{
    margin-right: 5px;
    color: #0082c6!important;
}
.list-files .file-buttons > a:hover,
.list-files .file-buttons > span:hover
{
    color: #23527c!important;
}
#popup-library{
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
}
#popup-library.active{
    display:block;
}
#popup-library .file-item {
    height: 170px;
    overflow: hidden;
    margin-bottom: 15px;
    position: relative;
}
#popup-library .list-files-popup {
    overflow: overlay;
}
#popup-library .pagination-block {
    margin-left: 15px;
    padding: 0;
}
#popup-library .file-item img {
    height: 100%;
}
#popup-library .file-item > span {
    width: 100%;
    display: block;
    height: 100%;
    position: absolute;
    background-color: #e8e8e8;
}
#popup-library .file-item > span > span {
    width: 100%;
    display: block;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 40%;
    font-size: 25px;
}
#popup-library .file-item input{
    position: absolute;
    top: 5px;
    right: 10px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}
#popup-library .vh96{
    height: 95vh;
}
#popup-library .btn{
    height: 50px;
}
#popup-library .file-buttons{
    padding: 5px 15px;
    text-align: center;
}
.storage-file-input {
    height: 39px;
    margin-bottom: 15px;
}
.default-storage-image {
    background-color: #cacaca;
    padding: 15px;
    text-align: center;
    font-size: 23px;
    color: #fff;
}
.filter-storage-form input[type=text],
.filter-storage-form input[type=number]{
    width: 100%;
}
.filter-storage-form > div.storage-filter-checkbox > label{
    float: left;
    margin-right: 5px;
}
.storage-search.hide-storage-search {
    display: none;
}
.list-files li > span {
    font-size: 25px;
}